
# ===============================================================================
on fs
    mount ext4 /dev/block/mmcblk0p1 /cache wait nosuid nodev noatime nodiratime noauto_da_alloc

    # kernel modules
    insmod /lib/modules/dpram_vzw.ko

# ===============================================================================
# services

service gpsd /system/bin/gpsd
    socket gps seqpacket 0660 gps system
    user gps
    group system inet

service ril-daemon /system/bin/rild
    socket rild stream 660 root radio
    socket rild-debug stream 660 radio system
    user root
    group radio cache inet misc audio sdcard_rw net_admin net_raw

service pppd_cdma /system/bin/pppd_runner
    user root
    group radio cache inet misc system
    disabled
    oneshot

on property:ril.cdma.data_ready=true
    start pppd_cdma

on property:ril.cdma.data_ready=false
    stop pppd_cdma

